.toolbar {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: fit-content;
  width: max-content;
}

.color-selector {
  min-height: 80px;
  background: black;
  /* owo WHAT*/
  margin: 5px;
}

.framerate-input {
  width: 96%;
  padding-right: 9px;
  margin: 5px;
}

input {
  width: inherit;
  margin: 1px;
}

.upload-button {
  margin: 5px;
  width: 100%;
  font: 14px "Century Gothic",
    Futura,
    sans-serif;
}